name: build-test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Start Uvicorn with PM2
        run: |
          pm2 start "uvicorn main:app --host 0.0.0.0 --port 8080" --name mednexus
          sleep 5
          pm2 list
          pm2 logs mednexus --lines 10
